li{
    float: left;
    list-style: none;
    color: #000;
    
    font-weight: 600;
    margin-right: 30px;
   
}
li a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
}
li a:hover{
    text-decoration: underline;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    
}